# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/amogus-frontend/node_modules/
/amogus-frontend/.pnp/
/amogus-frontend/.pnp.js

# testing
/amogus-frontend/coverage/

# production
/amogus-frontend/build/

# misc
/amogus-frontend/.DS_Store
/amogus-frontend/.env.local
/amogus-frontend/.env.development.local
/amogus-frontend/.env.test.local
/amogus-frontend/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/amogus-frontend/.vscode
/amogus-frontend/.env
/amogus-frontend/node_modules/